* {
    padding: 1px;
}
.error {color: #ff0000;}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: #AABAAB;
}

table {
    width: 100%;
    padding: 10px;
}

table, td, th {
    border: 10px solid #000000;
    border-spacing: 2px;
}
